<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue学习</title>

    <script src="/js/vue-2.4.2.js"></script>
</head>
<body>
<style>
    .hd1{color: red;}
    .hd2{color: green;}
</style>
<div id="hdcms">
    <h1 v-once="">{{n+1}}</h1>
    <h1 :class="'hd'+n">你好中国</h1>
    <input type="text" v-model="n">
    <br>
    <input type="radio" v-model="n" value="1">
    <input type="radio" v-model="n" value="2">
</div>
<script>

    var app = new Vue({
        el: '#hdcms',
        data: {
            n: 1,
        }
    });

</script>

</body>
</html>