<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue学习</title>

    <script src="/js/vue-2.4.2.js"></script>
    <script src="/node_modules/axios/dist/axios.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
</head>
<body>
<div id="hdcms">
    <h1 v-if="sta">后盾人</h1>
    <h2 v-show="sta">houdunren.com</h2>
    <input type="checkbox" v-model="sta">
</div>
<script>

    var app = new Vue({
        el: '#hdcms',
        data: {
            sta: true,
        }
    });

</script>

</body>
</html>