<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue学习</title>

    <script src="/js/vue-2.4.2.js"></script>
    <script src="/node_modules/axios/dist/axios.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
</head>
<body>
<div id="hdcms">
    <ul>
        <li v-for="(item,key,index) in user">
            <span v-text="index"></span>
            <span v-text="key"></span>
            <span v-text="item"></span>
        </li>
    </ul>
    <table border="1" width="100%">
        <tr v-for="v in 20">
            <td v-text="v"></td>
        </tr>
    </table>
</div>
<script>

    var app = new Vue({
        el: '#hdcms',
        data: {
            user: {
                name: '向军',
                age: '22',
                sex: 'boy',
            },
        },
    });

</script>

</body>
</html>